/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*MY CODE*/

::-moz-selection {
  background-color: #f77dff;
}

::selection {
  background-color: #f77dff;
}


body {
  background-color: #ff66ff;
  font-family: arial;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*HEADER*/

.active {
  background-color: #ffbeff;
  color: #3b3b3b
}

.menu {
  position: fixed;
  background-color: #00e8ff;
  width: 100%;
  height: 70px;
}

.menu a {
  float: left;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 27px 20px;
  text-decoration: none;
}

.menu a:hover, .dropdown:hover .dropbtn {
  color: #007eff;
  background-color: yellow;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn i {
  margin-left: 2px;
  color: #007eff;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 25px 20px 9px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
  padding-bottom: 27px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #50c7fb;
  min-width: 134px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: yellow
}

.dropdown:hover .dropdown-content {
  display: block;
}

.index-menu {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-shadow: 2px 2px 8px #ff55ff;
  font-size: 30px !important;
  line-height: 0;
  padding: 35px 20px !important;
}

.mobile-space {
  height: 70px;
}

@media screen and (max-width: 762px) {
  .menu a:not(:first-child), .dropdown .dropbtn{
    display: none;
  }

  .menu a.icon {
    float: right;
    display: block;
  }

  header {
    height: auto;
  }
}

@media screen and (max-width: 762px) {
  .menu.responsive {
    position: relative;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .menu.responsive .dropdown {
    float: none;
  }

  .menu.responsive .dropdown-content {
    position: relative;
  }

  .menu.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media only screen and (min-width: 762px) {
  .icon {
    display: none;
  }

  .mobile-space {
    display: none;
  }
}

/*BANNER*/

.banner-back {
  width: 100%;
  height: 150px;
  background-color: #f88fff
}

.banner-name {
  text-align: center;
  padding-top: 55px;
  font-size: 40px;
  font-family: 'Lobster', cursive;
  font-weight: 400;
  text-shadow: 2px 2px 8px #ff55ff;
  margin-top: 70px;
}

/*FOOTER*/

.container {
  flex: 1;
}

.foot {
  background-color: #00e8ff;
  height: 100%;
}

.wrapper-foot {
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.wrapper-foot ul {
  list-style: none;
}

.wrapper-foot ul li {
  line-height: 20px;
  font-size: 17px;
  color: black;
  -webkit-user-select:none;
  cursor:text
}

.foot-sm a {
  text-decoration: none;
  margin: 0 4px;
}

.foot-sm a i {
  font-size: 25px;
  margin: 0 1px;
  color: black;
}

/*INDEX*/

.button {
  padding: 20px;
}

.estado-site {
  border: none;
  padding: 15px 25px;
  cursor: none;
  background-color: #00e8ff
}

button:hover {
  background-color: #f88fff;
}

.description {
  margin-bottom: 30px;
}

h1 {
  font-family: arial;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
}

.about-site {
  text-indent: 20px;
  font-family: arial;
  padding: 0 5px;
  text-align: justify;
}

.pato-cartola {
  display: block;
  margin: 0 auto 10px auto;
  width: 200px;
  border: 2px solid #ffbeff;
}

h1:hover + p + div + p {
  display: block;
  background-color: yellow;
}

.seijip {
  text-align: center;
  display: none;
  text-transform: uppercase;
  margin: 20px 0 0;
  line-height: 20px;
}

.wrapper {
  width: 100%;
}

@media only screen and (min-width: 762px) {
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }

  .about-site {
    text-indent: 0;
    margin-top: 20px;
    float: right;
    width: 400px;
  }

  h1 {
    font-family: arial;
    text-align: center;
    margin: 60px 250px;
    font-size: 20px;
    line-height: 0
  }

  .pato-cartola {
    width: 350px;
    border: 2px solid #ffbeff;
  }
}

h2 {
  text-align: center;
  font-size: 20px;
  line-height: 0;
  margin: 40px 250px 40px;
}

.patch {
  padding: 10px;
  margin: 30px 0 10px;
  background-color: #ff55ff;
}

article ul li {
  list-style: none;
  background-color: #ff77ff;
  padding: 10px;
  margin-bottom: 1px;
}

@media only screen and (max-width: 762px) {
  h2 {
    font-size: 16px;
    margin: 40px 20px;
    text-transform: uppercase;
  }

  .patch {
    margin-top: 20px;
  }

  .description {
    margin-bottom: 20px;
  }
}

/*pag2*/

.crazy-math {
  margin-top: 20px;
  background-color: #ff72ff;
  padding: 10px;
}

.matem-p {
  text-align: center;
  font-size: 20px;
  padding: 5px 0 10px 0;
}

input, select, .botão-mat {
  border: 0;
  background-color: #f899ff;
  line-height: 25px;
  margin: 10px 10px 10px 0;
}

input {
  font-size: 18px;
  padding: 5px;
}

input:focus {
  outline: none;
  background-color: #f899ff;
}

select, .botão-mat {
  font-size: 14px;
}

.botão-mat:hover {
  background-color: #f568ff;
}

.botão-mat{
  border-radius: 4px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.2), 1px 1px 2px 0 rgba(0,0,0,0.1);
}

.botão-mat:focus {
  outline: none;
}

#resultado {
  margin: 15px 0;
}

/*pag3*/

.gallery-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-img {
  margin: 10px;
  flex-basis: 80%;
}

.gallery-img img {
  width: 100%;
}

@media only screen and (min-width: 762px) {
  .gallery-img {
    flex-basis: 300px;
  }
}

/*404*/

.erro-art {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.erro-h {
  font-size: 60px;
  font-weight: 70;
  margin-bottom: 100px;
  font-family: monospace;
}

.erro-p {
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  line-height: 40px;
}

.c-u-b-o {
  color: white;
}

.area-cubo {
  display: flex;
  height: 300px;
  width: 100%;
  perspective: 600;
  align-items: center;
  justify-content: center;
  --cor-lado: #0e2f4a;
}

.cubo {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(-18deg);
}

.lado {
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: .69;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  font-size: 22px;
}

.lado.frente {
  background-color: var(--cor-lado);
  transform: translateZ(100px);
}

.lado.direita {
  background-color: var(--cor-lado);
  transform: translateX(100px) rotateY(90deg);
}

.lado.esquerda {
  background-color: var(--cor-lado);
  transform: translateX(-100px) rotateY(-90deg);
}

.lado.tras {
  background-color: var(--cor-lado);
  transform: translateZ(-100px) rotateY(180deg);
}

.lado.cima {
  background-color: var(--cor-lado);
  transform: rotateX(90deg) translateZ(100px);
}

.lado.baixo {
  background-color: var(--cor-lado);
  transform: rotateX(-90deg) translateZ(100px);
}
